---
layout: default
title: Breaking Things in the Process of Making Things
---
<h1>{{ page.title }}</h1>
<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
{% for post in site.posts %}
  <div class="w3-card-4 w3-margin w3-white">
    <img src="/assets/{{ post.title }}.png" alt="{{ post.title }}" style="width:100%">
    <div class="w3-container">
      <h3><b>{{ post.title }}</b></h3>
      <h5><span class="w3-opacity">{{ post.subtitle }}, {{ post.date | date_to_string }}</span></h5>
    </div>

    <div class="w3-container">
      <p>{{ post.excerpt }}</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
			<a href="{{ post.url }}" class="w3-button w3-padding-large w3-white w3-border">READ MORE</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
  <hr>
<!-- END BLOG ENTRIES -->

</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
  <img src="/assets/me.png" alt="Daniel Gilbert" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>Daniel Gilbert</b></h4>
      <p>Someone once told me that if I wanted a job I should write a blog, that advice seemed so bizarre so I ignored it. Then I stumbled upon a free domain name and had nothing better to do while in quarantine...</p>
    </div>
  </div><hr>
  
  <!-- Project Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Project Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
	{% for post in site.categories.Project %}
	<a href="{{ post.url }}" style="text-decoration: none;">
      <li class="w3-padding-16">
        <img src="/assets/{{ post.title }}.png" alt="{{ post.title }}" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">{{ post.title }}</span><br>
      </li>
	</a>
	{% endfor %}
    </ul>
  </div>
  
  
  <!-- D&D Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>D&D Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
	{% for post in site.categories.DnD %}
	<a href="{{ post.url }}" style="text-decoration: none;">
      <li class="w3-padding-16">
        <img src="/assets/{{ post.title }}.png" alt="{{ post.title }}" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">{{ post.title }}</span><br>
      </li>
	</a>
	{% endfor %}
    </ul>
  </div>  
  <hr> 

<div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
		Follow my blog on <a href="https://www.feedreader.com/online/#/add/https://www.danielgilbert.digital/feed.xml"> <i class="fa fa-rss-square w3-orange"></i></a>
	</div>
</div>
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>
</div>
